#headerWrapper {
  width: 100%;
}

#filterBar {
  text-align: center;
  margin-bottom: 22px;
}

#filterBar input, select, button {
  margin: 4px;
  padding: 8px;
  border: none;
  border: 1px solid #ccc !important;
  width: 22%;
}