#players {
  border-collapse: collapse;
  width: 100%;
}

#players td, #players th {
    border: 1px solid #dddddd;
    padding: 8px;
}

#players td {
  text-align: center;
}

#players tr:nth-child(even) {
  background-color: #f2f2f2;
}

#players tr:hover {
  background-color: #ddd;
}

#players th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3c3c3c;
  color: white;
}